.histogram rect {
  fill: #0a8cc4;
  transition: 0.5s;
}
.histogram rect:hover {
  fill: #6ecef7;
}
.histogram .zoomControls {
  height: 50px;
}
.histogram .zoomControls a.btn {
  margin-left: 20px;
}
