.histogram rect {
  transition: 0.5s;
}
.list-group-item {
  font-size: 24px;
}
.list-group-item > .label {
  margin-right: 20px;
}
.history-events-enter {
  opacity: 0.01;
  background-color: #ff5500;
  transition: 1s ease-in;
}
.history-events-enter.history-events-enter-active {
  opacity: 1;
  background-color: white;
}
